/* BANNER
============================================== */


.banner{
    background-image: url('../images/image-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vh;
}

@media only screen and (max-width: 600px){
    .banner{
        height: 17vh;
    }
}