/* NAVIGATION
============================================== */

sup{
    font-size: small;
    vertical-align: super;
}

.navbar{
    padding: 0 8vw;
}

.navbar-toggler{
    border: none;

    a{
        color: black;
        text-decoration: none;
    }
}